/* Reset Dasar */
* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #f4f6f8, #e9eef3);
    margin: 0;
    padding: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
}

.gallery img {
    width: auto;
    height: 170px;
    border-radius: 12px;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.gallery img:hover {
    transform: translateY(-10px);
}

.header {
    width: 100%;
}

.header marquee {
    font-size: 32px;
    font-weight: bold;
    color: #2c3e50;
}

.header marquee span {
    margin-right: 1200px;
}

.left-container {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.left-container ul {
    list-style: none;
    padding: 0;
}

.left-container li {
    margin-bottom: 5px;
}

.left-container a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

.left-container fieldset {
    border-radius: 10px;
}

.left-container a:hover {
    display: inline-block;
    color: #0077ff;
    transform: translateY(-3px);
}

.home img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
    margin-bottom: 10px;
}

.menu legend {
    font-weight: bold;
}

.menu ul {
    list-style-type: none;
    padding-left: 0;
    margin: 15px 0 0 0;
    text-align: center;
}

.right-container {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.right-container ul {
    list-style: none;
    padding: 0;
}

.right-container li {
    margin-bottom: 5px;
}

.right-container a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

.right-container fieldset {
    border-radius: 10px;
}

.right-container a:hover {
    display: inline-block;
    color: #0077ff;
    transform: translateY(-3px);
}

.study table {
    border-collapse: collapse;
    width: 80%;
    margin: 50px auto;
    background-color: #ffffff;
}

.study th, .study td {
    border: 1px solid black;
    padding: 12px;
    text-align: center;
    color: #000;
}

.study th {
    background-color: #ddd;
    font-weight: bold;
}